

<div class="text-center">

  <h3>Search Results</h3>

  <%= render partial: 'shared/search_field' %>

</div>

<hr>

<br>
<% unless @events[0]=="error" %>

<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">
      Showing <%= @events.size if @events %> results
      <%= "for #{@artist} near #{@origin}" %>
    </h3>
  </div>
</div>
<br>
<% end %>
<!-- map display with result markers here -->

<%= render partial: 'shared/map_results', locals: {hash: @hash} %>
<br>

<!-- display results -->
<br>
<% unless @events[0]=="error"%>
  <div class="col-md-10 col-md-offset-1">
    <!-- list all existing matches below -->
    <%= render partial: 'shared/events', locals: {events: @events} %>
  </div>
<% end %>
