<%= form_tag searches_path, method: :get do %>

  <%= search_field_tag :address, nil,
                                placeholder: @placeholder %>
  <%= search_field_tag :artist, nil,
                                placeholder: "Enter Artist" %>

  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>

<section class = "container" id="search-section">
  <div class="row">
      <br>
      <p class="col-md-10-2 text-center">
        Showing <%= @locations.size if @locations %> results for
          "<%= params[:artist] %>" near "<%= params[:address] %>"
      </p>
    <header>
      <div class="col-xs-offset-2 col-xs-8">
        <h2>Search Results</h2>
      </div>
    </header>
    <!--search results-->

    <div class="col-md-10 col-md-offset-1" id="friends-section">
      <!-- list all existing matches below -->
      <table>
        <tr>
          <th>id </th>
          <th>address </th>
          <th>latitude </th>
          <th>longitude </th>
          <th>user_id </th>
        </tr>
          <%= render @locations %>
      </table>
    </div>

  </div>

</section>

  <br>